html,
body {
  padding: 0;
  margin: 0;
  background: rgb(232, 230, 250);
  font-family: -apple-system, Mukta, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Improve touch targets for mobile */
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}