.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow: visible;

  @media screen and (min-width: 1200px){
    align-items: center;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(0, 128, 107), rgb(2, 219, 2));
    clip-path: ellipse(160% 100% at 50% -25%);

    @media screen and (min-width: 1200px){
      clip-path: ellipse(60% 65% at 100% 50%);
    }
  }
}

.heroWrapper {
  display: flex;
  flex-direction: column-reverse;
  padding: 30px;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1200px){
    flex-direction: row;
  }
}

.section {
  display: flex;
  flex-direction: column;
  z-index: 1;

  &:last-of-type {
    align-items: flex-start;
    min-width: 100%;

    @media screen and (min-width: 1200px){
      min-width: 500px;
      align-items: flex-end;
    }
  }
}

.subtitle {
  font: {
    size: 32px;
    weight: bold;
  }
  color:rgb(255, 173, 66);
  text-align: left;

  @media screen and (min-width: 1200px){
    text-align: right;
  }
}

.title {
  display: block;
  min-width: 100%;
  text-align: left;
  color: white;
  line-height: 1;
  margin: 0 0 30px;
  font: {
    size: 52px;
    weight: bold;
  }

  @media screen and (min-width: 1200px){
    text-align: right;
  }
}