.hero {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 100vh;
  background: rgb(232, 230, 250);
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font: {
    size: 32px;
    weight: bold;
  }
  color:rgb(87, 175, 253);
  text-align: right;
}

.title {
  text-align: right;
  color: rgb(45, 45, 45);
  font: {
    size: 52px;
    weight: normal;
  }
}

.button {
  align-self: flex-end;
  text-align: center;
  color: white;
  background-color: rgb(87, 175, 253);
  border-radius: 6px;
  padding: 10px 30px;
  border: 0;
  font: {
    weight: bolder;
    size: 20px;
  }
  box-shadow: 0 17px 14px 0 rgba(0, 0, 0, 0.17);
  cursor: pointer;
}