.down {
    z-index: 999;
    position: absolute;
    left: 50%;
    bottom: 20px;
    animation: {
        name: waiting;
        duration: 1s;
        iteration-count: infinite;
        direction: alternate
    };
    color: rgb(255, 173, 66);
    font: {
        weight: bold;
        size: 40px;
    }
    cursor: pointer;
    pointer-events: auto;

    @media screen and (min-width: 768px) {
        font-size: 50px;
    }
}

@keyframes waiting {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -15px);
    }
}