.Home {
  background: {
    image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    size: 400% 400%;
  }
  animation: backgroundAnimate 20s ease infinite;

  @keyframes backgroundAnimate {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  &__title {
    color: white;

    span {
      margin: 0 0 0 30px;
      position: relative;
      color: rgb(8, 19, 71);
      cursor: pointer;
      z-index: 1;

      &:hover {
        color: white;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      &::before {
        z-index: -1;
        transform: translate(-50%, 50%);
        background-color: rgb(5, 109, 45);
      }

      &::after {
        z-index: -2;
        transform: translate(-51%, 51%);
        background-color: rgba(0, 0 , 0, 1);
      }
    }
  }
}