.personal {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 0 80px;
    overflow: hidden;

    @media screen and (min-width: 768px){
        padding: 0;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
        background-image: url('/trees-silhouette.svg');
        background-repeat: repeat-x;
        background-position: bottom center;
        background-size: auto 100%;
        opacity: 0.15;
        pointer-events: none;
        z-index: 0;

        @media screen and (min-width: 768px) {
            height: 50%;
            opacity: 0.2;
        }
    }
}

.personalWrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media screen and (min-width: 768px){
        flex-direction: row;
    }
}

.section {
    display: flex;
    flex-direction: column;
    z-index: 1;

    &:first-of-type {
        align-items: flex-start;
        min-width: 100%;

        @media screen and (min-width: 992px){
            min-width: 500px;
        }
    }

    &:last-of-type {
        max-width: 280px;

        @media screen and (min-width: 768px){
            max-width: 365px;
        }
    }
}

.subtitle {
    font: {
        size: 24px;
        weight: bold;
    }
    color:rgb(255, 173, 66);
    text-align: left;

    @media screen and (min-width: 1200px) {
        font-size: 32px;
    }
}

.title {
    text-align: left;
    color: white;
    line-height: 1;
    margin: 0 0 30px;
    font: {
        size: 34px;
        weight: bold;
    }

    @media screen and (min-width: 1200px) {
        font-size: 52px;
    }
}

.description {
    text-align: left;
    color: white;
    font: {
        size: 14px;
        weight: normal;
    }
}