.personal {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.personalWrapper {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    z-index: 1;

    &:first-of-type {
        align-items: flex-start;
        min-width: 100%;

        @media screen and (min-width: 992px){
            min-width: 500px;
        }
    }
}

.subtitle {
    font: {
        size: 24px;
        weight: bold;
    }
    color:rgb(255, 173, 66);
    text-align: left;

    @media screen and (min-width: 1200px) {
        font-size: 32px;
    }
}

.title {
    text-align: left;
    color: white;
    line-height: 1;
    margin: 0 0 30px;
    font: {
        size: 34px;
        weight: bold;
    }

    @media screen and (min-width: 1200px) {
        font-size: 52px;
    }
}

.description {
    text-align: left;
    color: white;
    font: {
        size: 14px;
        weight: normal;
    }
}