.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.title {
    font: {
        weight: bolder;
        size: 50px;
    }
    color: rgb(255, 173, 66);
    text-align: center;
}