.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 30px;

    
}

.screen {
    @media screen and (min-width: 1200px) {
        height: 100vh;
    }
}

.title {
    text-align: left;
    color: white;
    line-height: 1.2;
    margin: 0 0 30px;
    font: {
        size: 52px;
        weight: bold;
    }
}

.subtitle {
    font: {
        size: 32px;
        weight: bold;
    }
    line-height: 1.2;
    color:rgb(255, 173, 66);
    text-align: left;
}

.section {
    display: flex;
    flex-direction: column;
    z-index: 1;
}