.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 30px;
    z-index: 1;
}

.screen {
    position: relative;
    height: 100%;
    padding: 60px 0 80px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        padding: 0;
    }

    @media screen and (min-width: 1200px) {
        min-height: 100vh;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
        background-image: url('/trees-silhouette.svg');
        background-repeat: repeat-x;
        background-position: bottom center;
        background-size: auto 100%;
        opacity: 0.15;
        pointer-events: none;
        z-index: 0;

        @media screen and (min-width: 768px) {
            height: 50%;
            opacity: 0.2;
        }
    }
}

.title {
    text-align: left;
    color: white;
    line-height: 1.2;
    margin: 0 0 30px;
    font: {
        size: 34px;
        weight: bold;
    }

    @media screen and (min-width: 1200px){
        font-size: 52px;
    }
}

.subtitle {
    font: {
        size: 24px;
        weight: bold;
    }
    line-height: 1.2;
    color:rgb(255, 173, 66);
    text-align: left;

    @media screen and (min-width: 1200px){
        font-size: 32px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    z-index: 1;
}