.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 30px;    
}

.screen {
    height: 100%;

    @media screen and (min-width: 1200px) {
        min-height: 100vh;
    }
}

.title {
    text-align: left;
    color: white;
    line-height: 1.2;
    margin: 0 0 30px;
    font: {
        size: 34px;
        weight: bold;
    }

    @media screen and (min-width: 1200px){
        font-size: 52px;
    }
}

.subtitle {
    font: {
        size: 24px;
        weight: bold;
    }
    line-height: 1.2;
    color:rgb(255, 173, 66);
    text-align: left;

    @media screen and (min-width: 1200px){
        font-size: 32px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    z-index: 1;
}