.skills {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 0 80px;

    @media screen and (min-width: 768px){
        padding: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('/orange-bubbles.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        pointer-events: none;
        z-index: -2;
    }
}

.skillsWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media screen and (min-width: 1200px){
        flex-direction: row;
    }
}

.skillsGraph {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: flex-end;
}

.underline {
    min-height: 15px;
    width: 100%;
    background-color: rgb(255, 173, 66);

    @media screen and (min-width: 1200px) {
        min-height: 30px;
    }
}

.graphSection {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    gap: 5px;

    @media screen and (min-width: 1200px){
        min-width: 500px;
    }
}

.textSection {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;

    @media screen and (min-width: 1200px){
        align-items: flex-end;
        min-width: 500px;
    }
}

.subtitle {
    font: {
        size: 24px;
        weight: bold;
    }
    color:rgb(0, 128, 107);
    text-align: left;

    @media screen and (min-width: 1200px){
        text-align: right;
        font-size: 32px;
    }
}

.title {
    text-align: left;
    color: rgb(255, 173, 66);
    line-height: 1;
    margin: 0 0 15px;
    font: {
        size: 34px;
        weight: bold;
    }

    @media screen and (min-width: 1200px){
        text-align: right;
        margin: 0 0 30px;
        font-size: 52px;
    }
}

.description {
    text-align: left;
    color: rgb(45, 45, 45);
    font: {
        size: 14px;
        weight: normal;
    }

    @media screen and (min-width: 1200px){
        text-align: right;
    }
}

.button {
    display: flex;
    gap: 5px;
    min-height: 45px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0 0;
    background-color: rgb(255, 173, 66);
    padding: 10px 40px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.12);
    color: white;
    font: {
        weight: bold;
        size: 14px;
    }
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        width: fit-content;
    }
}